include ./lib/lib.pug

head
  meta(charset='UTF-8')
  link(rel='stylesheet' href='/css/comments.css')
  link(rel='stylesheet' href='/css/post.css')
  script(src='/js/request.js')
  script(src="/user/js/comment.js")
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title PostIt | Comments

+generateMenuBar(avatarUrl)

#title
  a.title(href=`/blog/${blogId}`)=titleText
if avatarUrl
  #newComment
    .user-details
      img.user-profile(src=avatarUrl )
      span.username
          a.link-text.author_url(href=`/profile/${userId}`)=currentUser
    p#new-comment.commentText(contenteditable='true' placeholder='Write your thoughts here ...' onkeyup='isAbleToPublish()')
    button#publish(onclick=`publishComment(${blogId})`) Publish

each value in comments
  .comment-box
    .user-details
      img.user-profile(src=value.avatarUrl)
      div.details
        span.username
          a.link-text.author_url(href=`/profile/${value.commentBy}`)=value.username
        br
        span.date=takeMoment(value.commentedAt)
    p.commentText
      each para in value.comment.split('\n')
        span=para 
        br