include ./lib/lib.pug

head
  meta(charset='UTF-8')
  script(src="/user/js/request.js")
  script(src="/user/js/profile.js")
  link(rel='stylesheet' href='/user/css/userProfile.css')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title PostIt | Profile
+generateMenuBar(avatarUrl,userId)
+getProfileHeader(userDetails,avatarUrl,followersCount, followingCount,isFollowing)

body(onload=`selectMenu(${selectedMenu})`)
  .profile-menubar
    a.link-text(href=`/user/profile/${userDetails.userId}`)
      span#posts.profile-menu='Profile'
    span
      a.link-text#clapped.profile-menu(href=`/user/clappedPosts/${userDetails.userId}`)='Claps'
    span
      a.link-text#comments.profile-menu(href=`/user/profile/${userId}/comments`)='Comments'

  .all-posts
    if comments.length == 0
      span.message='No posts yet'
    each comment in comments
      .post
        .user-details
          img.profile(src=comment.avatarUrl)
          .details
            a(href=`/user/profile/${comment.userId}`).author-name=comment.displayName
            span.date=takeMoment(comment.commentedAt)
        .title.post.comment-title
          a.link-text(href=`/blog/${comment.id}`)=comment.title
        .data=comment.comment
