head
  meta(charset='UTF-8')
  link(rel='stylesheet' href='/css/comments.css')
  script(src="/user/js/comment.js")
  include ./menubar.pug
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Comments

#title=title_text
if avatar_url
  #newComment
    .user-details
      img.user-profile(src=avatar_url )
      span.username=currentUser
    p#new-comment.commentText(contenteditable='true' placeholder='Write your thoughts here ...' onkeyup='isAbleToPublish()')
    button#publish(onclick=`publishComment(${blogId})`) Publish

each value in comments
  .comment-box
    .user-details
      img.user-profile(src=value.avatar_url)
      div.details
        span.username=value.username
        br
        span.date=takeMoment(value.commented_at)
    p.commentText
      each para in value.comment.split('\n')
        span=para 
        br