include ./lib/lib.pug

head
  meta(charset='UTF-8')
  script.
  link(rel="stylesheet" href="/user/css/post.css")
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title PostIt

//- +generateMenuBar(avatar_url)
#menu-bar
  #logoBox
    a(href="/")
      img#logo
  #actions
    .search-container
      .filter
        label Gender
        select(name='gender')
          option(value='male') Male
          option(value='female') Female
          option(value='other') Other
      input(type='text' placeholder='Search..' name='search')
      button.search-button(type='submit') Search
    +generatePop(avatar_url)
.all-posts
  each post in posts
    .post
      .title-text
        a.title(href=`/blog/${post.id}`)=post.title
      .data=JSON.parse(post.content).blocks[0].data.text
      .user-details
        img.author-profile(src=post.avatar_url)
        .details
          span.author-name
            a.author_url( href=`/profile/${post.user_id}`)=post.username
          span.date=takeMoment(post.last_modified)
      //- img.cover-image-post(src='/images/cricket.jpeg' alt='No image')
