include ./lib/lib.pug

head
  meta(charset='UTF-8')
  script.
  script(src='/user/js/request.js')
  link(rel="stylesheet" href="/user/css/dashboard.css")
  script(src="/user/js/dashboard.js")
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title PostIt

#menu-bar
  #logoBox
    a(href="/")
      img#logo
  #actions
    .search-container
      <input type="search" placeholder="Search..." onkeyup='getSearchText(event)'>
    +generatePop(avatarUrl,userId)
.all-posts
  each post in posts
    .container 
      .post
        .title-text.title
          a.title-link.link-text(href=`/blog/${post.id}`)=post.title
        .data=JSON.parse(post.content).blocks[0].data.text
        .user-details
          img.author-profile.profile(src=post.avatarUrl)
          .details
            span.author-name
              a.link-text.author-url( href=`/profile/${post.userId}`)=post.displayName
            span.date=takeMoment(post.lastModified)
      img.cover-image-post(src=`/pictures/${post.imagePath}` alt='Cover image')
