doctype html
head
  meta(charset='UTF-8')
  script.
  link(rel='stylesheet' href='/user/css/menubar.css')
  link(rel="stylesheet" href="/user/css/dashBoard.css")
  link(rel="stylesheet" href="/user/css/post.css")
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title PostIt

#menu-bar
  #logoBox
    a(href="/")
      img#logo
  #actions
    #buttonsBox
      a#link_text(href='/user/editor')
        button.action-button Write a post
    img#user-profile(src=avatar_url)

#all-posts
  each value in posts 
    .container-post
      .data-post
        .title-post(title=value.title)
          a(href=`/blog/${value.id}`)=value.title
        br
        .info-post
          span.author-details-post=value.username
          span.date=new Date(value.last_modified).toDateString()
      img.cover-image-post(src='/images/cricket.jpeg' alt='No image')
