doctype html
head
  meta(charset='UTF-8')
  script.
  link(rel="stylesheet" href="/user/css/dashBoard.css")
  link(rel="stylesheet" href="/user/css/editor.css")
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title PostIt

#menu-bar
  #logoBox
    img#logo
  #actions
    #buttonsBox
      a#link_text(href='/user/editor')
        span#publish
          button Write a post
    img#user-profile(src=avatar_url)

#all-posts
  each value in posts 
    .post
      .info
        .headers
          a(href=`/blog/${value.id}`)
            span.head-line=value.title
        .headers
          span.author-name=value.username
          span.date=new Date(value.last_modified)
      img.cover-image(src='/user/images/logo.png')