head
  meta(charset='UTF-8')
  script.
  include ./menubar.pug
  link(rel="stylesheet" href="/user/css/dashBoard.css")
  link(rel="stylesheet" href="/user/css/post.css")
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title PostIt

#all-posts
  each value in posts 
    .container-post
      .data-post
        .title-post(title=value.title)
          a#title(href=`/blog/${value.id}`)=value.title
        .data=JSON.parse(value.content).blocks[0].data.text
        br
        .info-post
          span.author-details-post=value.username
          span.date=takeMoment(value.last_modified)
      //- img.cover-image-post(src='/images/cricket.jpeg' alt='No image')
