include ./lib/lib.pug

head
  meta(charset='UTF-8')
  script.
  link(rel="stylesheet" href="/user/css/post.css")
  script(src="/user/js/dashboard.js")
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title PostIt

#menu-bar
  #logoBox
    a(href="/")
      img#logo
  #actions
    .search-container
      .filter
        select(name='filter')
          option(value='title') Title
          option(value='author') Author
          option(value='tag') Tag
      .search-box
        input(type='text' placeholder='Search..' name='search' onkeyup='getSearchText(event)')
    +generatePop(avatarUrl)
.all-posts
  each post in posts
    .post
      .title-text
        a.title(href=`/blog/${post.id}`)=post.title
      .data=JSON.parse(post.content).blocks[0].data.text
      .user-details
        img.author-profile(src=post.avatarUrl)
        .details
          span.author-name
            a.author_url( href=`/profile/${post.userId}`)=post.username
          span.date=takeMoment(post.lastModified)
      //- img.cover-image-post(src='/images/cricket.jpeg' alt='No image')
