doctype html
head
  meta(charset='UTF-8')
  link(rel='stylesheet' href='/user/css/menubar.css')
  link(rel='stylesheet' href='/user/css/editor.css')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title PostIt
  script(src='https://cdn.jsdelivr.net/npm/@editorjs/editorjs@latest')
  script(src='https://cdn.jsdelivr.net/npm/@editorjs/header@latest')
  script(src='https://cdn.jsdelivr.net/npm/@editorjs/list@latest')
  script(src='https://cdn.jsdelivr.net/npm/@editorjs/paragraph@latest')
  script( src='/user/js/editor.js')

body(onload=`addListeners(${id}, ${data})`)

#menu-bar
  #logoBox
    a(href="/")
      img#logo
    p#status=""
  #actions
    #buttonsBox
      button.action-button#publish Publish
    img#user-profile(src=avatar_url)
.post(id=id)
  .content#title(contenteditable='true' onkeyup='isAbleToPublish()'  placeholder='Title..')=title_text
  .content#editorjs
