include ./lib/lib.pug

doctype html
head
  meta(charset='UTF-8')
  link(rel='stylesheet' href='/user/css/preview.css')
  link(rel='stylesheet' href='/user/css/editor.css')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  script(src='https://cdn.jsdelivr.net/npm/@editorjs/editorjs@latest')
  script(src='https://cdn.jsdelivr.net/npm/@editorjs/header@latest')
  script(src='https://cdn.jsdelivr.net/npm/@editorjs/list@latest')
  script(src='https://cdn.jsdelivr.net/npm/@editorjs/paragraph@latest')
  script(src='/js/request.js')
  script( src='/user/js/editor.js')
  title PostIt | Editor

body(onload=`addListeners(${id}, ${data})`)

#container
  #menu-bar
    #logoBox
      a(href="/")
        img#logo
      p#status=""
      span#error=""
    #actions
      #buttonsBox
        button.action-button#publish Publish
      +generatePop(avatarUrl)
  .post(id=id)
    .content#title(contenteditable='true' placeholder='Title..')=titleText
    .content#editorjs

form#preview-form
  #preview.hide-preview
    span#preview-error
    img#exit-icon(src='/images/cross-icon.svg' alt='close' onclick='hidePreview()')
    input#file(type='file' name='file' onchange='renderImage(event)' required)
    .preview-content
      span#preview-title
      label#cover-image(for='file')
        span#instruction='Add cover image here'
    .actions
      #added-tags
      span Add or change tags (up to 4)
      input#tag(type='text' onkeydown='addTag(event)')
      button.action-button#preview-publish(type='submit') Publish
