include ./lib/lib.pug

link(rel="stylesheet", href="/css/allPosts.css")

+generateMenuBar(avatar_url)
#main
  #container
    p.your_posts  Your Posts 
    .post-types
      p#drafted.type
        if(type == 0)
          a.highlight(href='/user/posts/drafts')
            | Drafted 
          span#draft-count=posts.length
        else
          a.normal(href='/user/posts/drafts')
            | Drafted 
      p.type  |
      p#published.type
        if(type == 1)
          a.highlight(href='/user/posts/published')
            | Published 
          span#publish-count=posts.length
        else 
          a.normal(href='/user/posts/published')
            | Published 
    hr.line
    each value in posts 
      .container-post
        .data-post
          .title-post(title=value.title)
            a.post-title(href=`/user/draft/${value.id}`)=value.title
          .info-post
            span.date=takeMoment(value.last_modified)