include ./lib/lib.pug

doctype html
head
  meta(charset='UTF-8')
  link(rel='stylesheet' href='/css/editor.css')
  link(rel='stylesheet' href='/css/readBlog.css')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title PostIt
  script(src='https://cdn.jsdelivr.net/npm/@editorjs/editorjs@latest')
  script(src='https://cdn.jsdelivr.net/npm/@editorjs/header@latest')
  script(src='https://cdn.jsdelivr.net/npm/@editorjs/list@latest')
  script(src='https://cdn.jsdelivr.net/npm/@editorjs/paragraph@latest')
  script(src='/js/readBlog.js')

body(onload=`render(${data})`)
+generateMenuBar(avatar_url)
#post
  #title=title_text
  .user
    img#user-profile(src=author_avatar)
    div.userInfo
      #name=author
      #date=new Date(date).toDateString()
  #editorjs
  .user-actions
      a(href=`/comments/${blog_id}`) 
        button.user-action Comments
