include ./lib/lib.pug

doctype html
head
  meta(charset='UTF-8')
  link(rel='stylesheet' href='/css/editor.css')
  link(rel='stylesheet' href='/css/readBlog.css')
  link(rel='stylesheet' href='/css/dashboard.css')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  script(src='https://cdn.jsdelivr.net/npm/@editorjs/editorjs@latest')
  script(src='https://cdn.jsdelivr.net/npm/@editorjs/header@latest')
  script(src='https://cdn.jsdelivr.net/npm/@editorjs/list@latest')
  script(src='https://cdn.jsdelivr.net/npm/@editorjs/paragraph@latest')
  script(src='/js/request.js')
  script(src='/js/readBlog.js')
  script(src='/js/dashboard.js')
  title PostIt | Blog

body(onload=`render(${post.content})`)
+generateMenuBar(avatarUrl)
#post
  #title=post.title
  .user
    img.author-profile(src=post.avatarUrl)
    div.userInfo
      a.link-text.author_url(href=`/profile/${post.userId}`)#name=post.username
      .date=new Date(post.lastModified).toDateString()
  img.cover-image(src=`/coverImage/${coverImage}`)
  #editorjs
  .tags 
    each tag in tags
      span.added-tag(onclick='searchTag(event)')=tag
  hr#horizontal-line
  .user-actions
    .clap-action
      if(clap.isClapped)
        img#clap.icon(src="/images/clapBlack.svg" alt="Clap" onclick=`clapOnPost(${post.id})`)
      if(clap.isClapped == false)
        img#clap.icon(src="/images/clapWhite.svg" alt="Clap" onclick=`clapOnPost(${post.id})`)
      if(clap.isClapped == null)
        img#clap.icon.unavailable(src="/images/clapWhite.svg" alt="Clap" )
      span#clapCount.action-text=`${clap.clapsCount} Claps`
    a.link-text.clap-action(href=`/comments/${post.id}`) 
      img(class="icon" src="/images/comment.svg" alt="" srcset="")
      span#comment-text.action-text Comments
