include ./lib/lib.pug

doctype html
head
  meta(charset='UTF-8')
  link(rel='stylesheet' href='/css/editor.css')
  link(rel='stylesheet' href='/css/readBlog.css')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title PostIt
  script(src='https://cdn.jsdelivr.net/npm/@editorjs/editorjs@latest')
  script(src='https://cdn.jsdelivr.net/npm/@editorjs/header@latest')
  script(src='https://cdn.jsdelivr.net/npm/@editorjs/list@latest')
  script(src='https://cdn.jsdelivr.net/npm/@editorjs/paragraph@latest')
  script(src='/js/readBlog.js')

body(onload=`render(${post.content})`)
+generateMenuBar(avatar_url)
#post
  #title=post.title
  .user
    img#user-profile(src=post.avatar_url)
    div.userInfo
      a.author_url(href=`/profile/${post.user_id}`)#name=post.username
      #date=new Date(post.last_modified).toDateString()
  #editorjs
  .user-actions
      a(href=`/comments/${post.id}`) 
        button.user-action Comments
