include ./lib/lib.pug

head
  meta(charset='UTF-8')
  script(src="/js/request.js")
  script(src="/js/profile.js")
  link(rel='stylesheet' href='/css/userProfile.css')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title PostIt | Profile
+generateMenuBar(avatarUrl,userId)
+getProfileHeader(userDetails,avatarUrl,followersCount, followingCount,isFollowing)
.profile-menubar
  a.link-text(href=`/profile/${userId}`)
    span#posts.profile-menu.selected='Profile'
  span#clapped.profile-menu(onclick=`getClappedPosts(${userId})`)='Claps'
.all-posts
  if posts.length == 0
    span.message='No posts yet'
  each post in posts
    .post
      .user-details
        img.profile(src=userDetails.avatarUrl)
        .details
          a(href=`/profile/${userDetails.userId}`).author-name=userDetails.displayName
          span.date=new Date(post.lastModified).toDateString()
      .title.title-text
        a.link-text(href=`/blog/${post.id}`)=post.title
      .data=JSON.parse(post.content).blocks[0].data.text
