include ./lib/lib.pug

head
  meta(charset='UTF-8')
  link(rel='stylesheet' href='/css/userProfile.css')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title PostIt | Profile
+generateMenuBar(avatarUrl)
.user-profile
  .user-info
    span.username=username
    div
      span.follow-details 45 followers 
      span.follow-details 34 following 
  img.profile-picture(src=authorAvatar)
.all-posts
  each post in posts
    .post
      .user-details
        img.profile(src=authorAvatar)
        .details
          span.author-name=username
          span.date=takeMoment(post.lastModified)
      .title.title-text
        a.link-text(href=`/blog/${post.id}`)=post.title
      .data=JSON.parse(post.content).blocks[0].data.text
